---
import "../styles/global.css";
const { title = "Novvys Engineering" } = Astro.props;
---

<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>